/****** Object:  Database [Advanced_Hospital]    Script Date: 05-24-2019 12:40:32 ******/
CREATE DATABASE [Advanced_Hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Advanced_Hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Advanced_Hospital.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Advanced_Hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Advanced_Hospital_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Advanced_Hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  StoredProcedure [dbo].[ddl_Search_Branch]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ddl_Search_Branch] 
				   
AS
BEGIN

	SET NOCOUNT ON;
	    SELECT
					id
					,Name
			
	from dbo.Branch 
	order by name
END





GO
/****** Object:  StoredProcedure [dbo].[Select_City_Master]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Select_City_Master] 
				 @Id int
AS
BEGIN

	SET NOCOUNT ON;
	    SELECT
				id,
				Name
	from dbo.LP_CITY_MASTER  (nolock)
	where StateID = @Id
END




GO
/****** Object:  StoredProcedure [dbo].[Select_State_Master]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Select_State_Master] 
				 @Id int
AS
BEGIN

	SET NOCOUNT ON;
	    SELECT
				id,
				Name
	from dbo.LP_STATE_MASTER  (nolock)
	where CountryID = @Id
	order by name
END


GO
/****** Object:  Table [dbo].[Add_InPatient]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Add_InPatient](
	[id] [int] NOT NULL,
	[name] [nchar](10) NULL,
	[dob] [varchar](50) NULL,
	[age] [varchar](10) NULL,
	[gender] [varchar](50) NULL,
	[mailid] [varchar](50) NULL,
	[mobileno] [varchar](12) NULL,
	[address] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[natproblem] [varchar](50) NULL,
	[ad_date] [varchar](50) NULL,
	[RoomNo] [varchar](10) NULL,
	[Description] [varchar](max) NULL,
	[AdmitDate] [varchar](50) NULL,
	[MedicalAmount] [varchar](50) NULL,
	[RoomAmoiunt] [varchar](50) NULL,
	[Total] [bigint] NULL,
	[DischargeDate] [varchar](50) NULL,
 CONSTRAINT [PK_Add_InPatient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Addadmin]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Addadmin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[docname] [varchar](50) NULL,
	[dob] [date] NULL,
	[mobileno] [varchar](10) NULL,
	[email] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[doj] [date] NULL,
	[qualification] [varchar](50) NULL,
	[designation] [varchar](50) NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_Addadmin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Adddoctor]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Adddoctor](
	[Doc_ID] [int] NOT NULL,
	[UserName] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[docname] [varchar](50) NULL,
	[dob] [varchar](50) NULL,
	[mobileno] [varchar](10) NULL,
	[email] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[doj] [varchar](50) NULL,
	[qualification] [varchar](50) NULL,
	[designation] [varchar](50) NULL,
	[specialization] [varchar](50) NULL,
	[PerDaysal] [bigint] NULL,
 CONSTRAINT [PK_Adddoctor] PRIMARY KEY CLUSTERED 
(
	[Doc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AddEmployee]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AddEmployee](
	[Emp_Id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[dob] [varchar](50) NULL,
	[mobileno] [varchar](50) NULL,
	[mailid] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[doj] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[PerDaysal] [bigint] NULL,
 CONSTRAINT [PK_AddEmployee] PRIMARY KEY CLUSTERED 
(
	[Emp_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AddHospital]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AddHospital](
	[id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Branchid] [int] NULL,
	[Address] [varchar](max) NULL,
	[Mailid] [varchar](50) NULL,
	[MobileNo] [varchar](10) NULL,
 CONSTRAINT [PK_AddHospital] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Appointment](
	[name] [varchar](50) NULL,
	[mobile] [varchar](12) NULL,
	[age] [varchar](50) NULL,
	[select_date] [varchar](50) NULL,
	[select_time] [varchar](50) NULL,
	[Docid] [varchar](50) NULL,
	[BookedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Branch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DocAtt]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocAtt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Docid] [int] NULL,
	[Attdate] [int] NULL,
	[Attmonth] [varchar](50) NULL,
	[year] [varchar](50) NULL,
 CONSTRAINT [PK_DocAtt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Docsalary]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Docsalary](
	[sl_no] [int] NULL,
	[sal_id] [int] IDENTITY(1,1) NOT NULL,
	[Doc_id] [int] NULL,
	[month] [varchar](20) NULL,
	[year] [numeric](4, 0) NULL,
	[salary] [numeric](4, 0) NULL,
	[no_of_day] [int] NULL,
	[total] [numeric](10, 0) NULL,
 CONSTRAINT [PK_Salary_1] PRIMARY KEY CLUSTERED 
(
	[sal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmpAtt]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmpAtt](
	[Id] [int] NULL,
	[Empid] [int] NULL,
	[Attdate] [int] NULL,
	[Attmonth] [varchar](50) NULL,
	[year] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empsalary]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Empsalary](
	[sl_no] [int] NULL,
	[sal_id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_id] [int] NULL,
	[month] [varchar](20) NULL,
	[year] [numeric](4, 0) NULL,
	[salary] [numeric](4, 0) NULL,
	[no_of_day] [int] NULL,
	[total] [numeric](10, 0) NULL,
 CONSTRAINT [PK_Salary_2] PRIMARY KEY CLUSTERED 
(
	[sal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FeedBack](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[FeedBack] [varchar](100) NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LP_CITY_MASTER]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LP_CITY_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[StateID] [int] NULL,
 CONSTRAINT [PK_CityMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LP_COUNTRY_MASTER]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LP_COUNTRY_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CountryCode] [varchar](5) NULL,
 CONSTRAINT [PK_CountryMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LP_STATE_MASTER]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LP_STATE_MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CountryID] [int] NULL,
 CONSTRAINT [PK_StateMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organ]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Organ](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Patientid] [int] NULL,
	[Parts] [varchar](50) NULL,
	[BloodGroup] [varchar](50) NULL,
 CONSTRAINT [PK_Organ] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Out_patient]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Out_patient](
	[id] [int] NULL,
	[name] [varchar](50) NULL,
	[natprobelm] [varchar](50) NULL,
	[bloodtestno] [varchar](50) NULL,
	[xrayno] [varchar](50) NULL,
	[ctscan] [varchar](50) NULL,
	[prescription] [varchar](50) NULL,
	[Commends] [varchar](50) NULL,
	[date] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patmaintains]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patmaintains](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[natureofproblem] [varchar](50) NULL,
	[bloodtestno] [varchar](50) NULL,
	[xrayno] [varchar](50) NULL,
	[ctscan] [varchar](50) NULL,
	[prescription] [varchar](max) NULL,
	[comments] [varchar](max) NULL,
	[date] [varchar](50) NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Patmaintains] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
	[ExpDate] [varchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[Productid] [int] NULL,
	[supId] [int] NULL,
	[Qty] [numeric](9, 0) NULL,
	[Price] [numeric](9, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomDetails]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoomDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [int] NULL,
	[RoomType] [varchar](4) NULL,
	[Status] [int] NULL,
	[RentAt] [date] NULL,
 CONSTRAINT [PK_RoomDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[MobileNo] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[City] [varchar](50) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Treatment]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Treatment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[Disease] [varchar](50) NULL,
	[Treatement] [varchar](50) NULL,
	[DoctorNote] [varchar](50) NULL,
	[DateOfVisit] [varchar](50) NULL,
 CONSTRAINT [PK_Treatment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserReg]    Script Date: 05-24-2019 12:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserReg](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[natproblem] [varchar](50) NULL,
	[dob] [varchar](50) NULL,
	[mailid] [varchar](50) NULL,
	[mobileno] [varchar](50) NULL,
	[age] [varchar](50) NULL,
 CONSTRAINT [PK_UserReg] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Add_InPatient] ([id], [name], [dob], [age], [gender], [mailid], [mobileno], [address], [city], [state], [natproblem], [ad_date], [RoomNo], [Description], [AdmitDate], [MedicalAmount], [RoomAmoiunt], [Total], [DischargeDate]) VALUES (274, N'vani      ', N'19/04/1990', N'28', N'Female', N'vani@gmail.com', N'9894694339', N'Gandhipuram', N'Tamil Nadu', N'Tamil Nadu', N'Feaver', N'29/03/2019', N'2', N'Feaver Patient', N'03-29-2019', N'5000', N'15000', 20000, N'03-29-2019')
INSERT [dbo].[Add_InPatient] ([id], [name], [dob], [age], [gender], [mailid], [mobileno], [address], [city], [state], [natproblem], [ad_date], [RoomNo], [Description], [AdmitDate], [MedicalAmount], [RoomAmoiunt], [Total], [DischargeDate]) VALUES (469, N'mala      ', N'16/06/2009', N'9', N'Female', N'mala76@gmail.com', N'9894694339', N'Gandhipuram', N'Tamil Nadu', N'Tamil Nadu', N'Feaver', N'28/03/2019', N'3', N'Nil', N'03-29-2019', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Addadmin] ON 

INSERT [dbo].[Addadmin] ([ID], [UserName], [password], [docname], [dob], [mobileno], [email], [Address], [city], [state], [doj], [qualification], [designation], [createDate]) VALUES (1, N'keerthi', N'123456789', N'KEERTHIVASAN', CAST(0x483F0B00 AS Date), N'9894694339', N'nxtlogic@gmail.com', N'Gandhipuram', N'Coimbatore', N'Tamil Nadu', CAST(0x483F0B00 AS Date), N'Nil', N'Admin', CAST(0x0000A9ED00E32236 AS DateTime))
SET IDENTITY_INSERT [dbo].[Addadmin] OFF
INSERT [dbo].[Adddoctor] ([Doc_ID], [UserName], [password], [docname], [dob], [mobileno], [email], [Address], [city], [state], [doj], [qualification], [designation], [specialization], [PerDaysal]) VALUES (842, N'ravi', N'12345678', N'RAVI', N'3/18/2019', N'9894694339', N'nxtlogic@gmail.com', N'Gandhipuram', N'Chembarambakkam', N'Tamil Nadu', N'3/18/2019', N'Nil', N'Admin', N'Eye', 2500)
INSERT [dbo].[AddEmployee] ([Emp_Id], [name], [password], [dob], [mobileno], [mailid], [address], [city], [state], [doj], [Designation], [PerDaysal]) VALUES (559, N'RAM', N'12345678', N'3/19/2019', N'9894694339', N'nxtlogic@gmail.com', N'Gandhipuram', N'Tamil Nadu', N'Coimbatore', N'3/19/2019', N'Security', 500)
INSERT [dbo].[AddHospital] ([id], [Name], [Branchid], [Address], [Mailid], [MobileNo]) VALUES (1, N'VASAN', 1, N'CBe', N'vasan@gmail.com', N'6565465465')
INSERT [dbo].[AddHospital] ([id], [Name], [Branchid], [Address], [Mailid], [MobileNo]) VALUES (2, N'ASD', 5, N'Erode', N'Keerthi@gmail.com', N'9955441155')
INSERT [dbo].[AddHospital] ([id], [Name], [Branchid], [Address], [Mailid], [MobileNo]) VALUES (3, N'1AWS', 1, N'', N'', N'9999999999')
INSERT [dbo].[Appointment] ([name], [mobile], [age], [select_date], [select_time], [Docid], [BookedBy]) VALUES (N'230', N'9988774455', N'27', N'29/03/2019', N'10:30 PM', N'842', N'vino')
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([id], [name]) VALUES (1, N'Coimbatore')
INSERT [dbo].[Branch] ([id], [name]) VALUES (2, N'Mettupalayam')
INSERT [dbo].[Branch] ([id], [name]) VALUES (3, N'RS Puram')
SET IDENTITY_INSERT [dbo].[Branch] OFF
SET IDENTITY_INSERT [dbo].[DocAtt] ON 

INSERT [dbo].[DocAtt] ([Id], [Docid], [Attdate], [Attmonth], [year]) VALUES (1, 1, 1, N'February', N'2019')
INSERT [dbo].[DocAtt] ([Id], [Docid], [Attdate], [Attmonth], [year]) VALUES (2, 1, 2, N'February', N'2019')
INSERT [dbo].[DocAtt] ([Id], [Docid], [Attdate], [Attmonth], [year]) VALUES (3, 1, 3, N'February', N'2019')
SET IDENTITY_INSERT [dbo].[DocAtt] OFF
SET IDENTITY_INSERT [dbo].[Docsalary] ON 

INSERT [dbo].[Docsalary] ([sl_no], [sal_id], [Doc_id], [month], [year], [salary], [no_of_day], [total]) VALUES (NULL, 4, 842, N'March', CAST(2019 AS Numeric(4, 0)), CAST(2500 AS Numeric(4, 0)), 3, CAST(7500 AS Numeric(10, 0)))
SET IDENTITY_INSERT [dbo].[Docsalary] OFF
INSERT [dbo].[EmpAtt] ([Id], [Empid], [Attdate], [Attmonth], [year]) VALUES (NULL, 559, 10, N'March', N'2019')
INSERT [dbo].[EmpAtt] ([Id], [Empid], [Attdate], [Attmonth], [year]) VALUES (NULL, 559, 11, N'March', N'2019')
INSERT [dbo].[EmpAtt] ([Id], [Empid], [Attdate], [Attmonth], [year]) VALUES (NULL, 559, 12, N'March', N'2019')
SET IDENTITY_INSERT [dbo].[Empsalary] ON 

INSERT [dbo].[Empsalary] ([sl_no], [sal_id], [Emp_id], [month], [year], [salary], [no_of_day], [total]) VALUES (NULL, 3, 559, N'March', CAST(2019 AS Numeric(4, 0)), CAST(500 AS Numeric(4, 0)), 9, CAST(4500 AS Numeric(10, 0)))
SET IDENTITY_INSERT [dbo].[Empsalary] OFF
SET IDENTITY_INSERT [dbo].[FeedBack] ON 

INSERT [dbo].[FeedBack] ([id], [UserName], [FeedBack]) VALUES (1, N'Keerthi', N'Nil')
INSERT [dbo].[FeedBack] ([id], [UserName], [FeedBack]) VALUES (2, N'1', N'asfas')
SET IDENTITY_INSERT [dbo].[FeedBack] OFF
SET IDENTITY_INSERT [dbo].[LP_CITY_MASTER] ON 

INSERT [dbo].[LP_CITY_MASTER] ([ID], [Name], [StateID]) VALUES (19102, N'Abiramam', 1659)
INSERT [dbo].[LP_CITY_MASTER] ([ID], [Name], [StateID]) VALUES (19103, N'Achampudur', 1659)
INSERT [dbo].[LP_CITY_MASTER] ([ID], [Name], [StateID]) VALUES (19104, N'Acharapakkam', 1659)
GO
SET IDENTITY_INSERT [dbo].[LP_CITY_MASTER] OFF
SET IDENTITY_INSERT [dbo].[LP_COUNTRY_MASTER] ON 

INSERT [dbo].[LP_COUNTRY_MASTER] ([ID], [Name], [CountryCode]) VALUES (1, N'Afghanistan', N'AF')
INSERT [dbo].[LP_COUNTRY_MASTER] ([ID], [Name], [CountryCode]) VALUES (2, N'Albania', N'AL')
INSERT [dbo].[LP_COUNTRY_MASTER] ([ID], [Name], [CountryCode]) VALUES (3, N'Algeria', N'DZ')
GO
SET IDENTITY_INSERT [dbo].[LP_COUNTRY_MASTER] OFF
SET IDENTITY_INSERT [dbo].[LP_STATE_MASTER] ON 

INSERT [dbo].[LP_STATE_MASTER] ([ID], [Name], [CountryID]) VALUES (1, N'Badakhshan', 1)
INSERT [dbo].[LP_STATE_MASTER] ([ID], [Name], [CountryID]) VALUES (2, N'Badgis', 1)
INSERT [dbo].[LP_STATE_MASTER] ([ID], [Name], [CountryID]) VALUES (3, N'Baglan', 1)
GO
SET IDENTITY_INSERT [dbo].[LP_STATE_MASTER] OFF
SET IDENTITY_INSERT [dbo].[Organ] ON 

INSERT [dbo].[Organ] ([id], [Patientid], [Parts], [BloodGroup]) VALUES (1, 1, N'Kidney', NULL)
INSERT [dbo].[Organ] ([id], [Patientid], [Parts], [BloodGroup]) VALUES (2, 1, N'Heart', NULL)
INSERT [dbo].[Organ] ([id], [Patientid], [Parts], [BloodGroup]) VALUES (3, 1, N'Eye', NULL)
SET IDENTITY_INSERT [dbo].[Organ] OFF
SET IDENTITY_INSERT [dbo].[Patmaintains] ON 

INSERT [dbo].[Patmaintains] ([id], [PatientId], [natureofproblem], [bloodtestno], [xrayno], [ctscan], [prescription], [comments], [date], [Type]) VALUES (4, 230, N'Feaver', N'100', N'102', N'201', N'Nil', N'Nil', N'3/28/2019', 2)
SET IDENTITY_INSERT [dbo].[Patmaintains] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [Name], [Description], [Price], [ExpDate]) VALUES (1, N'test1', N'nil', N'100', N'31/12/2019')
INSERT [dbo].[Product] ([id], [Name], [Description], [Price], [ExpDate]) VALUES (2, N'pro1', N'nil', N'100', N'31/12/2019')
INSERT [dbo].[Product] ([id], [Name], [Description], [Price], [ExpDate]) VALUES (3, N'pro2', N'asdasd', N'500', N'20/02/2019')
SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[Purchase] ([Productid], [supId], [Qty], [Price]) VALUES (1, 1, CAST(1000 AS Numeric(9, 0)), CAST(1000 AS Numeric(9, 0)))
INSERT [dbo].[Purchase] ([Productid], [supId], [Qty], [Price]) VALUES (2, 2, CAST(5000 AS Numeric(9, 0)), CAST(5000 AS Numeric(9, 0)))
INSERT [dbo].[Purchase] ([Productid], [supId], [Qty], [Price]) VALUES (3, 3, CAST(200 AS Numeric(9, 0)), CAST(400 AS Numeric(9, 0)))
SET IDENTITY_INSERT [dbo].[RoomDetails] ON 

INSERT [dbo].[RoomDetails] ([Id], [RoomNo], [RoomType], [Status], [RentAt]) VALUES (1, 1, N'A', 1, NULL)
INSERT [dbo].[RoomDetails] ([Id], [RoomNo], [RoomType], [Status], [RentAt]) VALUES (2, 2, N'A', 0, NULL)
INSERT [dbo].[RoomDetails] ([Id], [RoomNo], [RoomType], [Status], [RentAt]) VALUES (3, 3, N'A', 1, NULL)
SET IDENTITY_INSERT [dbo].[RoomDetails] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([id], [Name], [DOB], [Gender], [Email], [MobileNo], [Address], [State], [City]) VALUES (1, N'keerthi', N'20/02/2019', N'Male', N'nxtlogic@gmail.com', N'9894694339', N'Gandhipuram', N'Tamil Nadu', N'Coimbatore')
INSERT [dbo].[Supplier] ([id], [Name], [DOB], [Gender], [Email], [MobileNo], [Address], [State], [City]) VALUES (2, N'mani', N'20/02/2019', N'Male', N'nxtlogic@gmail.com', N'9894694339', N'Gandhipuram', N'Tamil Nadu', N'Coimbatore')
INSERT [dbo].[Supplier] ([id], [Name], [DOB], [Gender], [Email], [MobileNo], [Address], [State], [City]) VALUES (3, N'ravi', N'20/02/2019', N'Male', N'mail2me.keerthivasan@gmail.com', N'9894694339', N'Gandhipuram', N'TAMIL NADU', N'SALEM')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
SET IDENTITY_INSERT [dbo].[Treatment] ON 

INSERT [dbo].[Treatment] ([Id], [PatientId], [Disease], [Treatement], [DoctorNote], [DateOfVisit]) VALUES (1, 1, N'Test', N'Testgy', N'Tesgt', N'3/13/2018')
INSERT [dbo].[Treatment] ([Id], [PatientId], [Disease], [Treatement], [DoctorNote], [DateOfVisit]) VALUES (2, 2, N'dsgdsg', N'dsgdsg', N'sdgsdgsd', N'3/7/2018')
INSERT [dbo].[Treatment] ([Id], [PatientId], [Disease], [Treatement], [DoctorNote], [DateOfVisit]) VALUES (3, 3, N'adsfasdg', N'asdgasg', N'asgas', N'3/13/2018')
SET IDENTITY_INSERT [dbo].[Treatment] OFF
INSERT [dbo].[UserReg] ([id], [name], [password], [natproblem], [dob], [mailid], [mobileno], [age]) VALUES (1, N'Keerthi', N'123', N'Feaver', N'2/17/2018', N'keerthi@gmail.com', N'9988774455', N'20')
INSERT [dbo].[UserReg] ([id], [name], [password], [natproblem], [dob], [mailid], [mobileno], [age]) VALUES (2, N'abi', N'96071', N'Fever', N'2/9/2010', N'abinayasahayam97@gmail.com', N'995522525632', N'22')
INSERT [dbo].[UserReg] ([id], [name], [password], [natproblem], [dob], [mailid], [mobileno], [age]) VALUES (230, N'Vino', N'12345678', N'Feaver', N'7/14/2010', N'nxtlogic@gmail.com', N'9894694339', N'8')
ALTER TABLE [dbo].[Addadmin] ADD  CONSTRAINT [df_Addadmin_DATE]  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[LP_CITY_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_CityMaster_StateMaster] FOREIGN KEY([StateID])
REFERENCES [dbo].[LP_STATE_MASTER] ([ID])
GO
ALTER TABLE [dbo].[LP_CITY_MASTER] CHECK CONSTRAINT [FK_CityMaster_StateMaster]
GO
ALTER TABLE [dbo].[LP_STATE_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_StateMaster_CountryMaster] FOREIGN KEY([CountryID])
REFERENCES [dbo].[LP_COUNTRY_MASTER] ([ID])
GO
ALTER TABLE [dbo].[LP_STATE_MASTER] CHECK CONSTRAINT [FK_StateMaster_CountryMaster]
GO
